<footer>
    <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Specialties</a></li>
            <li><a href="#">Contact Us</a></li>
    </ul>
        <div class="footer-copyright">
            <p>Copyright @ 2022 All Rights Reserved.</p>
        </div>
  </footer>
</div>
</div>
</section>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/resources/scripts/script.js"></script>
</body>
</html>