<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviezwala</title>
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="./resources/css/arrow.css">
    <link rel="stylesheet" href="/resources/css/review_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
      <nav class = "nav-menu">
        <div class = "nav-container">
            <a href = "/" class = "nav-brand"><img src="/assets/logo.png" style="width: 18rem;"></a>
            <!-- <button type = "button" id = "menu-show-btn">
                <i class = "fas fa-bars"></i>
            </button> -->
            <form action="/search" method="get">
                <div class="searchBox">
                    
                        <input class="searchInput" type="text" name="search" placeholder="Enter Movie Name">
                        <button class="searchButton">
                            <i class="fa-solid fa-magnifying-glass material-icons"></i>
                        </button>
                    
                </div>
            </form>
            <!-- <div class = "nav-overlay">
                <div class = "nav-overlay-container">
                    <button type = "button" id = "menu-hide-btn">
                        <i class = "fas fa-close"></i>
                    </button>

                    <ul class = "nav-links">
                        <li><a href = "#">home</a></li>
                        <li><a href = "#">Hindi movie</a></li>
                        <li><a href = "#">action</a></li>
                        <li><a href = "#">adventure</a></li>
                        <li><a href = "#">crime</a></li>
                        <li><a href = "#">thriller</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
      </nav>
    </header>