header
    nav
        .row
            a(href='/')
                img.logo(src='/resources/img/logo.png' alt='logo')
            ul.main-nav
                li
                    a(href='') HOME
                li
                    .dropdown
                        button.dropbtn Movies
                        .dropdown-content
                            a(href='') Latest Released
                            a(href='') Hollywood
                            a(href='') Bollywood
                            a(href='') Dual Audio
                            a(href='') Multi Audio
                            a(href='') Hindi Movies
                li
                    .dropdown
                        button.dropbtn Genre
                        .dropdown-content
                            a(href='') Latest Released
                            a(href='') Hollywood
                            a(href='') Bollywood
                            a(href='') Dual Audio
                            a(href='') Multi Audio
                            a(href='') Hindi Movies
                li
                    .dropdown
                        button.dropbtn Year
                        .dropdown-content
                            a(href='') Latest Released
                            a(href='') Hollywood
                            a(href='') Bollywood
                            a(href='') Dual Audio
                            a(href='') Multi Audio
                            a(href='') Hindi Movies
                li
                    .dropdown
                        button.dropbtn Quality
                        .dropdown-content
                            a(href='') Latest Released
                            a(href='') Hollywood
                            a(href='') Bollywood
                            a(href='') Dual Audio
                            a(href='') Multi Audio
                            a(href='') Hindi Movies
                li
                    .dropdown
                        button.dropbtn TV shows
                        .dropdown-content
                            a(href='') Latest Released
                            a(href='') Hollywood
                            a(href='') Bollywood
                            a(href='') Dual Audio
                            a(href='') Multi Audio
                            a(href='') Hindi Movies
                li
                    .dropdown
                        button.dropbtn Web Series
                        .dropdown-content
                            a(href='') Latest Released
                            a(href='') Hollywood
                            a(href='') Bollywood
                            a(href='') Dual Audio
                            a(href='') Multi Audio
                            a(href='') Hindi Movies
    .row.form-align
        form(action='/search', method='GET')
            input(type='text' placeholder=' Search Courses' name='search')
            button
                i.ion-android-search#buttonSearch  