doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(http-equiv='X-UA-Compatible' content='IE=edge')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            // Favicon
            link(rel='apple-touch-icon' sizes='180x180' href='/resources/favicon_io/')
            link(rel='icon' type='image/png' sizes='32x32' href='/resources/favicon_io/favicon-32x32.png')
            link(rel='icon' type='image/png' sizes='16x16' href='/resources/favicon_io/favicon-16x16.png')
            link(rel='manifest' href='/resources/favicon_io/site.webmanifest')
            link(rel='stylesheet' href='/vendors/css/grid.css')
            link(rel='stylesheet' href='/vendors/css/normalize.css')
            link(rel='stylesheet' href='/vendors/css/ionicons.min.css' type='text/css')
            link(rel='stylesheet' href='/resources/css/style.css')
            title MoviezWala

    body 
        // HEADER
        include _header

        // CONTENT
        block content 
