<%-include('./partials/header') %>
<section>
    <div class="errPage">
        <h1>
            No Movie Found in DataBase <br>
            Try with Different Name
        </h1>
    </div>
</section>
<%- include('./partials/footer') %>  