extends base

block content 
    section.movies-section
        .row#main
            each movie in movies 
                .col.span-1-of-5.card#imgg
                    img(src=`/resources/img/movie/${movie.movieImage}` alt=`${movie.movieName}`)
                    a(href=`/movie/${movie.slug}` )
                        h3= movie.movieName
            
