extends base

block content 
    section.movies-section
        .row
            each movie in yearMovie 
                .col.span-1-of-5.card
                    img(src=`/resources/img/movieimg/${movie.movieImage}` alt=`${movie.movieName}`)
                    a(href=`/movie/${movie.slug}` )
                        h3= movie.movieName
            
